---
pagination:
  data: locales
  size: 1
  alias: locale

eleventyComputed:
  permalink: "/{{ locale.code }}/menu/index.html"

pageId: menu
---

{% extends "layout.njk" %}
{% from "helpers.njk" import menuCard %}

{% set t = i18n[locale.code] %}


{% block content %}

<section
  class="section section--dark menu-page"
  id="menu"
>

  <div class="container">

    <header class="section__head">

      <p class="section__eyebrow">
        {{ t.menu.eyebrow }}
      </p>

      <h1 class="section__title">
        {{ t.menu.title }}
      </h1>

      <p class="section__sub">
        {{ t.menu.sub }}
      </p>

    </header>


    <div
      class="menu-tabs"
      id="menuTabs"
      role="tablist"
      aria-label="{{ t.menu.categories }}"
    >

      {% for category in menu.MENU_CATEGORIES %}

        <button
          type="button"
          role="tab"
          data-category="{{ category.id }}"
          aria-selected="{{ 'true' if category.id == 'all' else 'false' }}"
          {% if category.id == 'all' %}class="is-active"{% endif %}
        >{{ category[locale.code] }}</button>

      {% endfor %}

    </div>


    <div
      class="menu-grid"
      id="menuGrid"
    >

      {% for item in menu.MENU_ITEMS %}
        {{ menuCard(item, locale.code, t) }}
      {% endfor %}

    </div>


    <p class="menu-footnote">
      {{ t.menu.note }}
    </p>


    <div class="menu-order reveal">

      <a
        class="btn btn--primary"
        href="{{ site.uberEats }}"
        target="_blank"
        rel="noopener"
      >{{ t.menu.order }}</a>

    </div>

  </div>

</section>


<section class="cta-banner">

  <div class="container cta-banner__inner reveal">

    <div>
      <h2>{{ t.cta.title }}</h2>
      <p>{{ t.cta.sub }}</p>
    </div>

    <div class="cta-banner__actions">

      <a
        class="btn btn--light"
        href="tel:+16132412882"
      >{{ t.cta.cta1 }}</a>

      <a
        class="btn btn--ghost-light"
        href="mailto:info@shawarmatimeandplace.ca"
      >{{ t.cta.cta2 }}</a>

    </div>

  </div>

</section>

{% endblock %}
